<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Customer Manager</title>
</head>
<body>
<div align="center">
    <h1>Customer List</h1>
    <a href="/newcustomer">Create New Customer</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Full Name</th>
                <th>Registration Code</th>
                <th>Email</th>
                <th>Telephone</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer : ${listCustomers}">
                <td th:text="${customer.id}">Customer ID</td>
                <td th:text="${customer.fullname}">Full Name</td>
                <td th:text="${customer.regCode}">Registration code</td>
                <td th:text="${customer.email}">Email</td>
                <td th:text="${customer.phone}">Phone</td>
                
                <td>
                    <a th:href="@{'/editcustomer/' + ${customer.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/deletecustomer/' + ${customer.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>