<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Customer</title>
</head>
<body>
    <div align="center">
        <div th:if="${customer.id == null}"><h1>Create New Customer</h1></div>
        <div th:unless="${customer.id == null}"><h1>Edit Product</h1></div>
        <br />
        <form action="#" th:action="@{/savecustomer}" th:object="${customer}"
            method="post">
            <input type="hidden" th:field="*{id}" th:value="${customer.id}" />
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Full Name:</td>
                    <td><input type="text" th:field="*{fullname}" /></td>
                </tr>
                <tr>
                    <td>Registration Code:</td>
                    <td><input type="text" th:field="*{regCode}" /></td>
                </tr>  
                <tr>
                    <td>Email:</td>
                    <td><input type="text" th:field="*{email}" /></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" th:field="*{phone}" /></td>
                </tr>                      
                <tr>
                    <td></td>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>