<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New OrderLine</title>
</head>
<body>
    <div align="center">
        <div th:if="${orderLine.id == null}"><h1>Create New OrderLine</h1></div>
        <div th:unless="${orderLine.id == null}"><h1>Edit OrderLine</h1></div>
        <br />
        <form action="#" th:action="@{/saveorderline}" th:object="${orderLine}"
            method="post">
            <input type="hidden" th:field="*{id}" th:value="${orderLine.id}" />
            <table border="0" cellpadding="10">
           
                <tr>
                    <td>Order:</td>
                    <td>
                    	<select th:field="*{order}">
                    		
                    		<option th:text="${orderLine.order.id}" th:value="${orderLine.order.id}" />
                    		
                    	</select>
                    </td>
                    <td>Product:</td>
                    <td>
                    	<select th:field="*{product}">
                    		<th:block th:each="prod: ${listProducts}">
                    		<option th:text="${prod.name}" th:value="${prod.id}" />
                    		</th:block>
                    	</select>
                    </td>
                    
                </tr>
                <tr>
                    <td>Quantity:</td>
                    <td><input th:field="*{quantity}" /></td>
                </tr>
                                        
                <tr>
                    <td></td>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>