<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>OrderLine Manager</title>
</head>
<body>
<div align="center">
    <h1>OrderLine List</h1>
    <a href="/neworderline">Create New OrderLine</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>OrderLine ID</th>
                <th>Order</th>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ordline : ${listOrderLines}">
                <td th:text="${ordline.id}">OrderLine ID</td>
                <td th:text="${ordline.order.id}">Order</td>
                <td th:text="${ordline.product.name}">Product</td> 
                <td th:text="${ordline.quantity}">Quantity</td>
                <td>
                    <a th:href="@{'/edit/' + ${ordline.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${ordline.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>